<!DOCTYPE html>
<html>
<head>
  <title>Travel</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeW_wd6DHrnazntj4TViT_PclOf_oihn0&callback=initMap">
    </script>
</body>
</html>
